// body {
//   overflow: hidden;
// }

.App {
  text-align: center;
}

.App-header {
  background-color: #9fb4df;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
  color: yellow;
}

.navbar {
  margin-bottom: 120px;
}