.collapseBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #383bd1;
  color: white;
  // text-align: left;
  padding: 10px 10px 10px 20px;
  border: none;
  width: 100%;
  font-size: 16px;
}

.classParentString {
  overflow: hidden;
  width: 100%;
}

.openedCollapsible {
  transition: background-color 1.5s ease;
  background-color: rgba($color: #84a8f8, $alpha: 0.8);
  padding: 0 0 20px 0;
}

.openedCollapsible:hover {
  background-color: #d0effc;
}

.closedCollapsible {
  background-color: rgba($color: #eaf9ff, $alpha: 0.8);
}

.created {
  margin-bottom: 10px;
}

.timer {
  margin-bottom: 20px;
}

.task-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bio {
  width: 250px;
  border-bottom: 1px solid black;
}

.time-clock {
  // border-top: 1px solid black;
}