.task-form {
  margin-bottom: 40px;
  margin-top: 40px;
}

.task-new {
  margin-bottom: 20px;
}

.sorts {
  margin-bottom: 20px;
}

.task-box {
  margin-bottom: 20px;
  font-size: 20px;
  width: 340px;
}

.task-box .header {
  height: 20px;;
}

.task-box h3, .task-box p {
  margin: 10px 0;
}