.nav-style ul {
  display: flex;
  list-style: none;
	justify-content: right;
	align-items: center;
	flex-direction: row-reverse;
	;
}

.nav-style li {
  margin-right: 20px;
  color: white;
}

.nav-style a {
  color: white;
  text-decoration: underline !important;
}

.logo2 {
	position: fixed;
	/* display: inline-block; */
  top: 5px;
	left: 30px;
}

.logo-nav {
	height: 50px;
}